<%- include('./partials/header.ejs') %>

  <h1><%= album.title %></h1>
  <em>by <%= album.artist %></em>

  <h2>Reviews</h2>

  <!-- TODO: implement album reviews -->
<% include('./partials/footer.ejs') %>