<!DOCTYPE html>
<html>
  <head>
    <% include head.ejs %>
    <title>Sign In</title>
  </head>
  <body>
    <% include header.ejs %>
    <div class="body-container">

    <h1>Sign In</h1>
    <form action="/signin" method="post">
      Email <input type="text" name="user_email" placeholder="email"> <br>
      Password <input type="text" name="user_password" placeholder="password"> <br>
      <button type="submit" name="button">Sign In</button>
    </form>

  </div>
  </body>
</html>
