<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span
        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a href="#" class="navbar-brand">Vinyl</a></div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/profile/:id">Users</a></li>
        </ul>
    </div>
</div>
