<!DOCTYPE html>
<html>
  <head>
    <% include head.ejs %>
    <title>Profile : <%= user.name %></title>
    <meta charset="utf-8">
  </head>
  <body>
    <% include header.ejs %>
    <div class="body-container">

    <div id="user_information">
      <h1>Name: <%= user.name %></h1>
      <h1>Email: <%= user.email %></h1>
      <h1>Date Joined: <%= user.date_joined %></h1>
    </div>

    </div>
  </body>
</html>
