<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile : <%= user.name %></title>
  </head>
  <body>
    <div id="user_information">
      <h1>Name: <%= user.name %></h1>
      <h1>Email: <%= user.email %></h1>
      <h1>Date Joined: <%= user.date_joined %></h1>
    </div>
  </body>
</html>
