<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Sign Up!</title>
  </head>
  <body>
    <h1>Sign Up For Vinyl</h1>
    <form action="/signup/submit" method="post">
      Name <input type="text" name="name" placeholder="name"> <br>
      Email <input type="text" name="email" placeholder="email"> <br>
      Password <input type="text" name="password" placeholder="password"> <br>
      <button type="submit" name="sign-up-button">Sign Up</button>
    </form>
  </body>
</html>
