<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
  </head>
  <body>
    <h1>Sign In</h1>
    <form action="/signin" method="post">
      Email <input type="text" name="user_email" placeholder="email"> <br>
      Password <input type="text" name="user_password" placeholder="password"> <br>
      <button type="submit" name="button">Sign In</button>
    </form>
  </body>
</html>
