<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
</head>
<body>

  <h1>Vinyl</h1>
  <a href='/signup' class='button'> Sign Up </a>
  <br/>
  <a href='/signin' class='button'> Sign In </a>

</body>
</html>
