<% include ../partials/header.ejs %>

<form class="form container align-items-center" action="/reviews" method="post" style="height: 870px; width: 400px; margin-bottom: 50px;">
  <h3 class="form-group col-md-auto">New Review For <% album.name %></h3>
  <div class="form-group col-md-auto" >
    <label for="body">Review</label>
    <textarea name="body" rows="10" cols="50" style="width: 95%; border-radius: 2.px;" placeholder="Review goes here"></textarea>
  </div>
  <br>
  <p style="color: red;"><%= message  %></p>
  <button type="submit" class="btn btn-primary btn-lg btn-block" name="review-change-submit">Submit</button>
</form>

<% include ../partials/footer.ejs %>